u"""
Secret
"""


def get_achive_org_access_key():
    return 'XX'

def get_achive_org_secret_key():
    return 'DDD'

def get_host_id():
    return '12456789'


def get_host_name():
    return 'a.u.thor'

def get_host_email():
    return 'a.u.thor@example.com'

def get_host_fullname():
    return 'A. U. Thor'


def get_hpr_ftp_server():
    return 'hackerpublicradio.org'


def get_hpr_ftp_username():
    return 'FFF'

def get_hpr_ftp_password():
    return 'DDD'

