u"""
Secret
"""

def get_achive_org_access_key():
    return 'XX'

def get_achive_org_secret_key():
    return 'DDD'

def get_host_id():
    return '260'

def get_host_name():
    return 'h4ck3rm1k3'

def get_hpr_ftp_server():
    return 'hackerpublicradio.org'

def get_hpr_ftp_username():
    return 'FFF'

def get_hpr_ftp_password():
    return 'DDD'

