
#get https://archive.org/account/s3.php
def get_archive_org_access_key(): 
    return 'TODO'

def get__archive_org_secret_key():
    return 'TODO'

def get_host_id():
    return '260'

def get_host_name():
    return 'h4ck3rm1k3'



